:root {
    --color1: #2E85FF;
    --color2: #000;
    --color3: #fff;
    /* other colors to try Capri (#01BFFF), Maya Blue (#60CCFF), Winter Wizard (#96DDFF), RYB Yellow (#FFFA32), Dodger Blue (#2E85FF) and RYB Blue (#004AFF) */
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../images/background1.jpg");
    background-color: var(--color2);
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color3);
    justify-content: space-evenly;
    line-height: 1.2rem;
}

h1 {
    font-size: 4rem;
    line-height: 5rem;
}
  
h2 {
    font-size: 3rem;
    line-height: 4.5rem;
}
  
h3 {
    font-size: 2.5rem;
    line-height: 3rem;
}

/* 2rem = 20px (2 * 10px) */
h4 {
    font-size: 2rem;
    line-height: 3rem;
}

h5 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h6 {
    font-size: .7rem;
    line-height: 3rem;
}

header {
    margin: 25px;
    border: 2px;
    border-style: double;
    padding: 15px;
}

#below-title {
    padding: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    padding: 10px;
}

nav a {
    color: var(--color1);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */
nav a:hover {
    background-color: var(--color1);
    color: var(--color2);
}

.headshot {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 40px;
    justify-content: space-evenly;
}

.headshot figure img {
    background-color: var(--color2);
    height: auto;
    max-width: 350px;
    padding: 15px;
    border-radius: 5px;
}

#bio {
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    padding: 20px;
    flex: 0 0 50%;
    align-content: center;
    line-height: 1.2rem;
}

ul {
    list-style-type: circle;
    padding: 15px;
}

#projects {
    padding: 5px;
    text-align: center;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
}

.project-list article {
    display: block;
    padding: 40px;
    max-width: 500px;
    justify-content: center;
}

.project-list img:hover {
    box-shadow: inset 0px 0px 5px var(--color3), 0 0 12px var(--color1);
}

a h4 {
    color: var(--color1);
    margin: 5px;
}

a h4:hover {
    box-shadow: inset 0px 0px 5px var(--color3), 0 0 12px var(--color1);
}

#bottom-div {
    display: flex;
    justify-content: space-evenly;
}

#influences {
    margin: 25px;
    display: inline-block;
    padding: 40px;
}

#contact {
    margin: 25px;
    display: inline-block;
    flex-wrap: wrap;
    padding: 40px;
}


#contact a {
    color: var(--color1);
    padding: 5px 12px;
    text-decoration: none;
}

#contact p {
    line-height: 2rem;
}

#contact a:hover {
    background-color: var(--color1);
    color: var(--color2);
}

footer {
    text-align: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 3.4rem;
        line-height: 3.8rem;
    }

    nav {
        flex-direction: column;
        justify-content: center;
        font-size: 1.5rem;
    }

    #bottom-div {
        display: flex;
        display: inline-block;
    }
}