:root {
    --color1: rgb(60, 133, 216);
    --color2: rgb(32, 32, 255);
    --color3: #fff;
    /* other colors to try Capri (#01BFFF), Maya Blue (#60CCFF), Winter Wizard (#96DDFF), RYB Yellow (#FFFA32), Dodger Blue (#2E85FF) and RYB Blue (#004AFF) */
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../images/background1.jpg");
    background-color: #000000;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color3);
    justify-content: space-evenly;
}

h1 {
    font-size: 3.5rem;
    line-height: 4.5rem;
}
  
h2 {
    font-size: 3rem;
    line-height: 4rem;
}
  
h3 {
    font-size: 2.5rem;
}

/* 2rem = 20px (2 * 10px) */
h4 {
    font-size: 2rem;
}
  
h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: .7rem;
    line-height: 3rem;
    text-align: center;
}

header {
    padding: 2%;
}

nav {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
}

nav a {
    color: var(--color2);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */
nav a:hover {
    background-color: var(--color1);
    color: black;
}

.headshot {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: space-evenly;
}

.headshot figure img {
    background-color: #000000;
    height: auto;
    max-width: 350px;
    padding: 15px;
    border-radius: 5px;
}

#bio {
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    flex: 0 0 50%;
    align-content: center;
    line-height: 1.2rem;
}

#bio p {
    padding: 5px;
}

#projects {
    padding: 5px;
    text-align: center;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
}

.project-list article {
    display: block;
    padding: 40px;
    max-width: 400px;
    justify-content: center;
}

.project-list ul {
    list-style-type: circle;
}

#influences {
    display: inline-block;
    flex-wrap: wrap;
    padding: 40px;
}

#contact {
    display: inline-block;
    flex-wrap: wrap;
    padding: 40px;
}

#contact a {
    color: var(--color3);
}

#contact a:hover {
    background-color: var(--color1);
    color: black;
}